<h1>My会話帳</h1>
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column flex-sm-row justify-content-sm-end">
        <div class="text-center mb-3 mb-sm-0">
          <%= link_to new_vocabulary_path, class: "btn btn-primary me-4" do %>
            単語の作成
          <% end %>
        </div>
        <div class="text-center mb-3 mb-sm-0">
          <%= link_to new_category_path, class: "btn btn-outline-secondary vv me-3" do %>
            カテゴリーの追加
          <% end %>
          <%= link_to delete_confirm_categories_path, class: "btn btn-outline-secondary colr" do %>
            カテゴリーの削除
          <% end %>
        </div>
      </div>
    </div>
  </div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <% @category.each_with_index do |category, index| %>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= index == 0 ? 'active' : '' %>" id="<%= "tab-#{category.id}" %>" data-bs-toggle="tab" data-bs-target="#<%= "tab-pane-#{category.id}" %>" type="button" role="tab" aria-controls="<%= "tab-pane-#{category.id}" %>" aria-selected="<%= index == 0 ? 'true' : 'false' %>">
        <%= category.name %>
      </button>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <% @category.each_with_index do |category, index| %>
    <div class="tab-pane fade<%= index == 0 ? ' show active' : '' %>" id="<%= "tab-pane-#{category.id}" %>" role="tabpanel" aria-labelledby="<%= "tab-#{category.id}" %>" tabindex="0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 5%;"></th>
              <th scope="col" style="width: 5%;"></th>
              <th scope="col" style="width: 20%;">単語</th>
              <th scope="col" style="width: 20%;">ボポモフォ</th>
              <th scope="col" style="width: 30%;">意味</th>
              <th scope="col" style="width: 10%;"></th>
              <th scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <% index = 1 %>
            <% @category_with_defaults[category].each do |default_vocabulary| %>
              <tr>
                <th scope="row" style="white-space: nowrap;"><%= index %></th>
                <td style="white-space: nowrap;"><button id="playButton" type="button" class="btn btn-light btn-icon"><i class="bi bi-volume-up"></i></button></td>
                <td style="white-space: nowrap;"><%= default_vocabulary.title %></td>
                <td style="white-space: nowrap;"><%= default_vocabulary.bopomofo %></td>
                <td style="white-space: nowrap;"><%= default_vocabulary.mean %></td>
                <td style="white-space: nowrap;">
                  <%= link_to default_vocabulary_path(default_vocabulary) do %>
                    <button type="button" class="btn btn-secondary">詳細</button>
                  <% end %>
                </td>
                <td style="white-space: nowrap;"></td>
              </tr>
              <% index += 1 %>
            <% end %>
              <!-- vocabulariesテーブルのデータを表示する部分 -->
            <% @category_with_vocabularies[category].each do |vocabulary| %>
              <tr>
                <th scope="row" style="white-space: nowrap;"><%= index %></th>
                <td style="white-space: nowrap;"><button id="playButton" type="button" class="btn btn-light btn-icon"><i class="bi bi-volume-up"></i></button></td>
                <td style="white-space: nowrap;"><%= vocabulary.title %></td>
                <td style="white-space: nowrap;"><%= vocabulary.bopomofo %></td>
                <td style="white-space: nowrap;"><%= vocabulary.mean %></td>
                <td style="white-space: nowrap;">
                  <%= link_to vocabulary_path(vocabulary) do %>
                    <button type="button" class="btn btn-secondary">詳細</button>
                  <% end %>
                </td>
                <td style="white-space: nowrap;">
                  <% if current_user.own?(vocabulary) %>
                  <div class="ms-auto">
                    <%= link_to edit_vocabulary_path(vocabulary), id: "button-edit-#{vocabulary.id}" do %>
                      <i class="bi bi-pencil-fill"></i>
                    <% end %>
                    <%= link_to vocabulary_path(vocabulary), id: "button-delete-#{vocabulary.id}", data: { turbo_method: :delete, turbo_confirm: '削除しますか' } do %>
                      <i class="bi bi-trash-fill"></i>
                    <% end %>
                  </div>
                <% end %>
                </td>
              </tr>
              <% index += 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<script>
 document.addEventListener("turbo:load", function() {
  // ボタン要素を取得
  var playButtons = document.querySelectorAll('.btn-light');

  // イベントリスナーをクリア
  playButtons.forEach(function(playButton) {
    playButton.removeEventListener('click', playButtonClickHandler);
  });

  // ボタンがクリックされたときのイベントリスナーを再登録
  playButtons.forEach(function(playButton) {
    playButton.addEventListener('click', playButtonClickHandler);
  });
});

function playButtonClickHandler() {
  // 親要素(tr)を取得
  var row = this.closest('tr');

  // テーブルの <td> 要素を取得
  var titleCell = row.querySelector('td:nth-child(3)');

  // タイトルのテキストを取得
  var text = titleCell.textContent.trim();

  // Web Speech API を使用してテキストを読み上げる
  var utterance = new SpeechSynthesisUtterance(text);
  utterance.lang = 'zh-CN';
  speechSynthesis.speak(utterance);
}
</script>