<div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
        <th scope="col" style="width: 5%;"></th>
        <th scope="col" style="width: 5%;"></th>
        <th scope="col" style="width: 20%;">単語</th>
        <th scope="col" style="width: 20%;">ボポモフォ</th>
        <th scope="col" style="width: 30%;">意味</th>
        <th scope="col" style="width: 10%;"></th>
        </tr>
    </thead>
    <% index = 1 %>
    <% default_vocabularies.each do |default_vocabulary| %>
    <tbody>
        <tr>
        <th scope="row" style="white-space: nowrap;"><%= index %></th>
        <td style="white-space: nowrap;"><button id="playButton" type="button" class="btn btn-light btn-icon"><i class="bi bi-volume-up"></i></button></td>
        <td style="white-space: nowrap;"><%= default_vocabulary.title %></td>
        <td style="white-space: nowrap;"><%= default_vocabulary.bopomofo %></td>
        <td style="white-space: nowrap;"><%= default_vocabulary.mean %></td>
        <td style="white-space: nowrap;">
            <%= link_to default_vocabulary_path(default_vocabulary) do %>
            <button type="button" class="btn btn-secondary">詳細</button>
            <% end %>
        </td>
        </tr>
    </tbody>
    <% index += 1 %>
    <% end %>
  </table>
</div>