<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">日常生活</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">ビジネス</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">気分・気持ち</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">単語</th>
          <th scope="col">ボポモフォ</th>
          <th scope="col">意味</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% index = 1 %>
      <% @requests.each do |request| %>
      <tbody>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= request.title %></td>
          <td><%= request.bopomofo %></td>
          <td><%= request.mean %></td>
          <td>
            <%= link_to request_path(request) do %>
              <button type="button" class="btn btn-secondary">詳細</button>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% index += 1 %>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">単語</th>
          <th scope="col">ボポモフォ</th>
          <th scope="col">意味</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% index = 1 %>
      <% @requests1.each do |request| %>
      <tbody>
        <tr>
          <th scope="row"><%= index %></th>
          <td><%= request.title %></td>
          <td><%= request.bopomofo %></td>
          <td><%= request.mean %></td>
          <td>
            <%= link_to request_path(request) do %>
              <button type="button" class="btn btn-secondary">詳細</button>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% index += 1 %>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
</div>