<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2024. TaiwanKago</p>
          <ul class='navbar-nav ms-auto main-nav'>
            <li class='nav-item'>
              <%= link_to '利用規約', "#", class: 'nav-link' %>
            </li>

            <li class='nav-item'>
              <%= link_to 'プライバシーポリシー', "#", class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'ログアウト', "#", class: 'nav-link', data: { turbo_method: :delete } %>
            </li>
            <li class='nav-item'>
              <%= link_to '利用規約', "#", class: 'nav-link' %>
            </li>

            <li class='nav-item'>
              <%= link_to 'プライバシーポリシー', "#", class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to 'ログアウト', "#", class: 'nav-link', data: { turbo_method: :delete } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>