<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active tabbak-color" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">日常生活</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link tabbak2-color" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">ビジネス</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">単語</th>
          <th scope="col">ボポモフォ</th>
          <th scope="col">意味</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% index = 1 %>
      <% @requests.each do |request| %>
      <tbody>
        <tr>
          <th scope="row"><%= index %></th>
          <td><button id="playButton" type="button" class="btn btn-light btn-icon"><i class="bi bi-volume-up"></i></button></td>
          <td><%= request.title %></td>
          <td><%= request.bopomofo %></td>
          <td><%= request.mean %></td>
          <td>
            <% if current_user.bookmark?(request) %>
              <%= link_to bookmark_path(current_user.bookmarks.find_by(request_id: request.id)), data: { turbo_method: :delete } do %>
                <button type="button" class="btn btn-outline-secondary">リストから削除</button>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(request_id: request.id), data: { turbo_method: :post } do %>
                <button type="button" class="btn btn-outline-secondary">リストに追加</button>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to request_path(request) do %>
              <button type="button" class="btn btn-secondary">詳細</button>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% index += 1 %>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">単語</th>
          <th scope="col">ボポモフォ</th>
          <th scope="col">意味</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <% index = 1 %>
      <% @requests1.each do |request| %>
      <tbody>
        <tr>
          <th scope="row"><%= index %></th>
          <td><button id="playButton" type="button" class="btn btn-light btn-icon"><i class="bi bi-volume-up"></i></button></td>
          <td><%= request.title %></td>
          <td><%= request.bopomofo %></td>
          <td><%= request.mean %></td>
          <td>
            <% if current_user.bookmark?(request) %>
              <%= link_to bookmark_path(current_user.bookmarks.find_by(request_id: request.id)), data: { turbo_method: :delete } do %>
                <button type="button" class="btn btn-outline-secondary">リストから削除</button>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(request_id: request.id), data: { turbo_method: :post } do %>
                <button type="button" class="btn btn-outline-secondary">リストに追加</button>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to request_path(request) do %>
              <button type="button" class="btn btn-secondary">詳細</button>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% index += 1 %>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
</div>

<script>
 document.addEventListener("turbo:load", function() {
  // ボタン要素を取得
  var playButtons = document.querySelectorAll('.btn-light');

  // イベントリスナーをクリア
  playButtons.forEach(function(playButton) {
    playButton.removeEventListener('click', playButtonClickHandler);
  });

  // ボタンがクリックされたときのイベントリスナーを再登録
  playButtons.forEach(function(playButton) {
    playButton.addEventListener('click', playButtonClickHandler);
  });
});

function playButtonClickHandler() {
  // 親要素(tr)を取得
  var row = this.closest('tr');

  // テーブルの <td> 要素を取得
  var titleCell = row.querySelector('td:nth-child(3)');

  // タイトルのテキストを取得
  var text = titleCell.textContent.trim();

  // Web Speech API を使用してテキストを読み上げる
  var utterance = new SpeechSynthesisUtterance(text);
  utterance.lang = 'zh-CN';
  speechSynthesis.speak(utterance);
}
</script>