<div class="container">
  <div class="row">
    <div class=" col-md-10 col-lg-8 mx-auto">
      <h1>単語の編集</h1>
      <%= form_with(model: @vocabulary, class: "edit_vocabulary", local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :台湾華語 %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :注音符号（ボポモフォ） %>
          <%= f.text_field :bopomofo, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :意味 %>
          <%= f.text_area :mean, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :カテゴリー %>
          <%= f.collection_select :category_id, @category, :id, :name %>
        </div>
        <div class="mb-3">
          <%= f.label :説明（任意） %>
          <%= f.text_area :body, class: "form-control", rows: 10, style: "height: 200px" %>
        </div>
        <%= f.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>